<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Edit Products</title>
</head>
<body>
<h1>Sửa</h1>
<div>
  <div>
    <form action="/edit/{pId}" method="post">
      <div class="mb-3">
        <label class="form-label">Tên sản phẩm</label>
        <input type="text" class="form-control" value="{pName}" name="pName">
      </div>

      <div class="mb-3">
        <label class="form-label">Số lượng</label>
        <input type="text" class="form-control" value="{Number}" name="Number">
      </div>

      <div class="mb-3">
        <label class="form-label">Màu sắc</label>
        <input type="text" class="form-control" value="{color}" name="color">
      </div>

      <div class="mb-3">
        <label class="form-label">Mô tả</label>
        <input type="text" class="form-control" value="{description}" name="description">
      </div>

      <div class="mb-3">
        <label class="form-label">Danh mục</label>
        <input type="number" class="form-control" value="{idCategory}" name="idCategory">
      </div>

      <div class="mb-3">
        <label class="form-label">Giá</label>
        <input type="number" class="form-control" value="{price}" name="price">
      </div>

      <button type="submit" class="btn btn-primary">Sửa</button>
    </form>
  </div>
</div>
</body>
</html>