<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Edit Products</title>
</head>
<body>
<h1>Sửa</h1>
<div>
  <div>
    <form method="post">
      <div class="mb-3">
        <label for="nameEdit" class="form-label">Tên sản phẩm</label>
        <input type="text" class="form-control" id="nameEdit" value="{name}" name="name">
        <div id="emailHelp" class="form-text"></div>
      </div>
      <div class="mb-3">
        <label for="editPrice" class="form-label">Giá sản phẩm</label>
        <input type="text" class="form-control" id="editPrice" value="{price}" name="price">
      </div>
      <div class="mb-3">
        <label for="editDescription" class="form-label">Miêu Tả</label>
        <input type="text" class="form-control" id="editDescription" value="{description}" name="description">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
</body>
</html>