<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <style>
    .productTable {
      border-collapse:collapse;
    }
    td {
      border: 1px solid black;
      width: 150px;
      height: 20px;
    }
    #stt {
      width: 50px;
    }
    #edit {

    }
    td:hover{
      background-color:#ddd;
      cursor:pointer;
    }
    #edit {

    }
  </style>
</head>
<body>

<form action="/home" method="post">
  <input type="text" placeholder="Tìm kiếm" name="pName">
  <button>Nhập</button>
</form>
<br>
<table class="productTable">
  <tr>
    <td id="stt">stt</td>
    <td id="name">Ten</td>
    <td id="number">Số lượng</td>
    <td id="color">Màu sắc</td>
    <td id="description">Mô tả</td>
    <td id="category">danh sach</td>
    <td id="price">giá</td>
  </tr>

  <tbody>
  {products}
  </tbody>

</table>
<a href="/create">Tạo mới</a>
</body>
</html>